ClienteWSSIE/xml-resources/web-service-references/SaludarService/wsdl/localhost_8090/WSSIE/SaludarService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:ns1="http://com.itesz.soa" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:import namespace="http://com.itesz.soa" schemaLocation="http://localhost:8090/WSSIE/SaludarService?xsd=2"/>

<xs:element name="consultarAlumnos" nillable="true" type="ns1:consultarAlumno"/>

<xs:element name="consultarAlumnosResponse" nillable="true" type="ns1:consultarAlumnoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="carrera" type="tns:carrera" minOccurs="0"/>
<xs:element name="creditos" type="xs:int"/>
<xs:element name="estatus" type="tns:estatus" minOccurs="0"/>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
<xs:element name="promedio" type="xs:float"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carrera">
<xs:sequence>
<xs:element name="idCarrera" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estatus">
<xs:sequence>
<xs:element name="idEstatus" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>