ClienteWSSIE/xml-resources/web-service-references/SaludarService/wsdl/localhost_8090/WSSIE/SaludarService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://com.itesz.soa" xmlns:ns1="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.itesz.soa">

<xs:import namespace="http://servicios/" schemaLocation="http://localhost:8090/WSSIE/SaludarService?xsd=1"/>

<xs:element name="consultarAlumno" type="tns:consultarAlumno"/>

<xs:element name="consultarAlumnoResponse" type="tns:consultarAlumnoResponse"/>

<xs:complexType name="consultarAlumno">
<xs:sequence>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="ns1:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>